### File Types ###

*~
*.swp
BPCon/*.swp
Congregate/*.swp
*.pyc
*.egg
*.egg-info
*.pkl
*.tar.gz

### Specific Files ###
push.sh

### Directories ###
creds/
__pycache__
BPCon/__pycache__
.cache
Python-3.4.4/
virtualenv/
